/*------- Font Family Starts -------*/

@font-face { font-family: "GoogleSans-Regular"; src: url("../fonts/GoogleSans-Regular.ttf"); }
@font-face { font-family: "GoogleSans-Medium"; src: url("../fonts/GoogleSans-Medium.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { letter-spacing: 1px; }
ul,
h4 { margin: 0; padding: 0; }
li { list-style-type: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

html,
body {
  background: -webkit-linear-gradient(#000000, #303030);
  background: -moz-linear-gradient(#000000, #303030);
  background: -ms-linear-gradient(#000000, #303030);
  background: -o-linear-gradient(#000000, #303030);
  background: linear-gradient(#000000, #303030);
  display: none;
  height: 100%;
}

/*------- Common CSS Ends -------*/